/* Bar.module.css */
.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.bar__content {
  display: flex;
  flex-direction: column;
}

.bar__playerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}

.bar__playerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bar__player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.bar__volumeBlock {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
}

.player__controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
  align-items: center;
}

/* Все интерактивные кнопки */
.player__btnPrev,
.player__btnPlay,
.player__btnNext,
.player__btnRepeat,
.player__btnShuffle,
.trackPlay__like,
.trackPlay__dislike {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* === РАЗМЕРЫ ИКОНОК === */

.player__btnPrevSvg,
.player__btnNextSvg {
  width: 15px;
  height: 14px;
  color: #d9d9d9;
}

.player__btnPlaySvg {
  width: 22px;
  height: 20px;
  color: #d9d9d9;
}

.player__btnRepeatSvg {
  /* width: 18px;
  height: 12px; */
  width: 20px;
  height: 18px;
  color: #696969;
}

.player__btnShuffleSvg {
  width: 20px;
  height: 18px;
  /* width: 19px;
  height: 12px; */
  color: #696969;
}

.playlistTitle__svg {
  width: 12px;
  height: 12px;
  color: #696969;
}

.trackPlay__svg {
  width: 18px;
  height: 17px;
  color: #4e4e4e;
}

.trackPlay__dislike_wrap {
  display: flex;
}

.trackPlay__likeSvg {
  width: 14px;
  height: 12px;
  color: #696969;
}

.trackPlay__dislikeSvg {
  width: 14.34px;
  height: 13px;
  color: #696969;
}

.volume__svg {
  width: 13px;
  height: 18px;
  color: #d9d9d9;
}

/* === HOVER-ЭФФЕКТЫ === */

.player__btnPrev:hover .player__btnPrevSvg,
.player__btnNext:hover .player__btnNextSvg,
.player__btnPlay:hover .player__btnPlaySvg,
.player__btnRepeat:hover .player__btnRepeatSvg,
.player__btnShuffle:hover .player__btnShuffleSvg,
.trackPlay__like:hover .trackPlay__likeSvg,
.trackPlay__dislike:hover .trackPlay__dislikeSvg,
.trackPlay__image:hover .trackPlay__svg {
  color: #b672ff;
}

/* === СТИЛИ КНОПОК === */

.player__btnPrev {
  margin-right: 23px;
}

.player__btnPlay {
  margin-right: 23px;
}

.player__btnNext {
  margin-right: 28px;
}

.player__btnRepeat {
  margin-right: 24px;
}

.player__btnShuffle {
  display: flex;
  align-items: center;
}

/* === ТРЕК В ПЛЕЕРЕ === */

.player__trackPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.trackPlay__contain {
  display: flex;
  align-items: center;
}

.trackPlay__image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.trackPlay__image_info {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.trackPlay__svg_info {
  width: 18px;
  height: 17px;
  color: #313131;
}

.trackPlay__author {
  min-width: 49px;
}

.trackPlay__authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
}

.trackPlay__album {
  min-width: 49px;
  margin-left: 12px;
}

.trackPlay__albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.trackPlay__like,
.trackPlay__dislike {
  padding: 5px;
}

.trackPlay__dislike {
  margin-left: 28.5px;
}

/* === ГРОМКОСТЬ === */

.volume__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__progress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volume__progressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volume__progressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}

.volume__progressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  margin-top: -7px;
}
