.main__nav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
}

.nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.logo__image {
    width: 113.33px;
    height: 17px;
    color: #181818;
}

.nav__burger {
    width: 20px;
    height: 36px;
    padding: 13px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .nav__burger.active {
    background-color: red;
} */
.nav__burger.active .burger__line1 {
    transform: rotate(45deg) translate(3px, 3px);
}
.nav__burger.active .burger__line2 {
    opacity: 0;
}
.nav__burger.active .burger__line3 {
    transform: rotate(-45deg) translate(3px, -3px);
}

.burger__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    transition: 0.3s;
}

.nav__menu {
    display: block;
    visibility: visible;
}

.menu__list {
    padding: 18px 0 10px 0;
}

.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
}

.menu__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
